<div class="product">
    <div class="product_image"><img src="https://cdn.trendhunterstatic.com/thumbs/little-pig-speakers.jpeg"></div>
    <div class="product_info">
        <div class="product_title">Funny speakers</div>
        <div class="product_price">PRICE: 65.2</div>
        <div class="product_stock">IN STOCK: 10</div>
    </div>
    <div class="order_buttons">
        <input class="input_amount" type="text" value="1">
        <button class="add_button">Add to cart</button>
    </div>
</div>